@page "/PostView/{Id}"
@inject IPostService postService
@using Domain
@using HttpClients.ClientInterfaces
<AuthorizeView>
    <Authorized>
        <div class="posts-container">
            <div class="post-card">
                <p class="outset"><b>@post?.First().Title</b></p>
                <div id="username">
                    <span class="oi oi-person" aria-hidden="true">
                        <p>@post?.First().User.Username</p></span></div>
        
                <p>@post?.First().Body</p>
            </div>
        </div>
        <div class="comment">
            <a class="navbar-brand" href=""><img class="icon" src="img/comment.png"/></a>
        </div>
    </Authorized>
    <NotAuthorized>
        
        <div class="info-container">
        <div class="post-card" id = "info">
            <h2>Please Log in to view and comment on this post!</h2>
            <div style="width:100%; text-align:center">
                <img class="icon" src="img/MAIKO.png"/><img/>
            </div>
        </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public string Id { get; set; }
    private IEnumerable<Post>? post;
    private string msg = "";
    
    
    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            post = await postService.GetAsync(int.Parse(Id)); // because we want all of them
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

}