@using BlazorWASM.Services
@namespace Register
@inject NavigationManager navMgr
@inject IAuthService authService

<AuthorizeView>
    <NotAuthorized>
        <button class="button-17" @onclick="Register">Register</button>
    </NotAuthorized>

</AuthorizeView>

@code {
    private void Register()
    {
        navMgr.NavigateTo("/Register");
    }
}